{% extends "layout.html" %}
{% block body %}
    <html ng-app="BlackHoleApp">
    <body ng-controller="WinkController">

    <section class="hero"  ng-cloak>
				<div data-ng-controller="WinkController" data-ng-init="getGroups()">
                     <md-progress-linear ng-hide="groups" md-mode="indeterminate"></md-progress-linear>
	{% raw %}


				<div ng-show="groups">
				<div ng-repeat="group in groups">
					<div class="medium-4 column">
						<md-card>
                            <md-toolbar class="demo">
                                   <div class="md-toolbar-tools">
						<md-button class="md-fab md-primary md-button" ng-click="updateGroupState(group)" aria-label="menu">
										<div ng-if="group.reading_aggregation.powered.or">
											<md-icon md-font-icon="icon fi fi-lightbulb" style="color: yellow;"/>
										</div>
										<div ng-if="!group.reading_aggregation.powered.or">
											<md-icon md-font-icon="icon fi fi-lightbulb" style="color: whitesmoke;"/>
										</div>
										</md-button>
                                         <h3><b>{{group.name}}</b></h3>
                                                     <span flex></span>
                                                 <md-switch class="md-primary" ng-click="updateGroupState(group)" ng-model="group.reading_aggregation.powered.or" aria-label="Switch 1">
                                           </md-switch>
                                       </div>
							 </md-toolbar>
							<md-card-content>
								<md-list-item class="md-4-line">
							 <div class="md-list-item-text">
								 <p>Devices: {{group.members.length}}</p>
							  </div>
								</md-list-item>
							</md-card-content>
						</md-card>
					</div>
				</div>
			  </div>
	{% endraw %}
			</div>
    </section>
    <hr>



{% endblock %}