{% extends "layout.html" %}
{% block body %}
    <html ng-app="BlackHoleApp">
    <body ng-controller="WinkController">

    <section class="hero">
          <div data-ng-controller="WinkController" data-ng-init="getDevices()">
                {% raw %}
                <div class="row">
                 <h2>Hubs</h2>
                <div id="results">
                    <p class="text-center" ng-hide="devices">
                        <span class="fi fi-refresh refresh"></span>
                    <div ng-show="devices">
                        <div ng-repeat="device in devices">


                            <div class="small-3 column">
                                <div ng-if="device.name == 'Link hub'||device.name == 'Hub'">

                                        <i ng-click="updateDeviceState(device)" class="fi fi-home icon "></i>
                                    <br>
                                    {{device.name}}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                    </div>
              {% endraw %}
              </div>
         <div class = "row">
            <h2>Groups</h2>
            <br>

            <div data-ng-controller="WinkController" data-ng-init="getGroups()">
{% raw %}

<p class="text-center" ng-hide="groups">
                        <span class="fi fi-refresh refresh"></span>
            <div ng-show="groups">
            <div ng-repeat="group in groups">

                <div class="small-3 column">
                    <div >
                        <div ng-if="group.reading_aggregation.powered.true_count!=0">
                            <i ng-click="updateDeviceState(device)"  class="button round fi fi-list-thumbnails icon on"></i>
                        </div>
                        <div ng-if="group.reading_aggregation.powered.true_count==0">
                            <i ng-click="updateDeviceState(device)" class="button round fi fi-list-thumbnails icon "></i>
                        </div>
                    {{group.name}}
                    </div>
                </div>
            </div>
          </div>
{% endraw %}
        </div>
        </div>



  <div data-ng-controller="WinkController" data-ng-init="getDevices()">
      {% raw %}
        <div class="row">
                <h2>Lights</h2>
                <div id="results">
                    <p class="text-center" ng-hide="devices">
                        <span class="fi fi-refresh refresh"></span>
                    <div ng-show="devices">
                        <div ng-repeat="device in devices">


                            <div class="small-3 column">
                                <div ng-if="device.manufacturer_device_model == 'ge_zigbee_light'">
                                    <div ng-if="device.desired_state.powered">
                                        <i ng-click="updateDeviceState(device)"  class="button round fi fi-lightbulb icon on"></i>
                                    </div>
                                    <div ng-if="!device.desired_state.powered">
                                        <i ng-click="updateDeviceState(device)" class="button round fi fi-lightbulb icon "></i>
                                    </div>
                                    {{device.name}}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
                {% endraw %}

            </div>


    </section>
    <hr>



{% endblock %}