{% extends "layout.html" %}
{% block body %}
    <html ng-app="BlackHoleApp">
    <body ng-controller="WinkController">
    <form role="form" ng-submit="getResults()">
<section class="hero">
<div class="row">
<h1>Devices</h1>
<input type="text" ng-model="input_url" name="url" class="form-control" id="url-box" placeholder="Enter URL..." style="max-width: 300px;">
<div class="col-sm-5 col-sm-offset-1">
      <br>
      {% raw %}
      <div id="results">

          {{wordcounts}}

      </div>
      {% endraw %}
    </div>
{% for device in devices['data'] %}
    <div class="small-3 columns">
    {% if device["manufacturer_device_model"] == "ge_zigbee_light" %}
        {% if device["desired_state"]["powered"] == true %}
             <i class="button round fi fi-lightbulb on"></i><br>

               {% else %}
         <i class="button round fi fi-lightbulb"></i><br>
        {% endif %}
         <b class="text-center">{{ device["name"] }}</b>
    {% else %}
         <b  class="text-center">{{ device["name"] }}</b><br>
    {% endif %}
    </div>
{% endfor %}
</div></section>
<hr>

    </form>

{% endblock %}