{% extends "layout.html" %}
{% block body %}
    <html ng-app="BlackHoleApp">
    <body ng-controller="WinkController">

<section class="hero">
<div class="row">
<h1>Devices</h1>
 <br>
<div data-ng-controller="WinkController" data-ng-init="getResults()">



      {% raw %}
      <div id="results">

<div ng-repeat="device in devices">
     <div class="small-3 column">
<div ng-if="device.manufacturer_device_model == 'ge_zigbee_light'">
    <div ng-if="device.desired_state.powered">
         <a href="#"><i class="button round fi fi-lightbulb on"></i></a>
    </div>
    <div ng-if="!device.desired_state.powered">
    <a href="#"><i class="button round fi fi-lightbulb"></i></a>
        </div>
{{device.name}}
</div>
    </div>
      </div>
          </div>
      {% endraw %}

</div>
</section>
<hr>



{% endblock %}