<body ng-controller="WinkController">
		<section class="hero"  ng-cloak>
			  <div data-ng-controller="WinkController" data-ng-init="getDevices()">
				   <md-progress-linear ng-hide="devices" md-mode="indeterminate"></md-progress-linear>

						<div ng-show="devices">
							<div ng-repeat="device in devices">
								<div class="medium-4 column">
									<div ng-if="device.name == 'Link hub'||device.name == 'Hub'">
										 <md-card>
							 <md-card-content>
								 <md-list-item class="md-4-line">
								<div class="md-list-item-text">
								<h3><b>{{device.name}}</b></h3>
									<p><b>Firmware Version:</b>{{device.last_reading.firmware_version}}</p>
								 </div>
								</md-list-item>
							  </md-card-content>
							 </md-card>
									</div>
								</div>
			<div class="medium-4 column">

									<div ng-if="device.manufacturer_device_model == 'ge_zigbee_light'">

										<md-card>
											<md-toolbar class="demo">
                                                   <div class="md-toolbar-tools">
						<md-button class="md-fab md-primary md-button" ng-click="updateDeviceState(device)" aria-label="menu">
										<div ng-if="device.desired_state.powered">
											<md-icon md-font-icon="icon fi fi-lightbulb" style="color: yellow;"/>
										</div>
										<div ng-if="!device.desired_state.powered">
											<md-icon md-font-icon="icon fi fi-lightbulb" style="color: whitesmoke;"/>
										</div>
										</md-button>
                                                       <h3><b>{{device.name}}</b></h3>
                                                     <span flex></span>
                                                 <md-switch class="md-primary" ng-click="updateDeviceState(device)" ng-model="device.desired_state.powered" aria-label="Switch 1">
                                           </md-switch>
                                                       </div>
							 </md-toolbar>
											 <md-card-content>
								 <md-list-item class="md-4-line">

									   <div class="md-list-item-text">
											<p><b>Brightness:</b>{{device.desired_state.brightness}},<b>Powered:</b>{{device.desired_state.powered}}</p>
												</div>
												  </md-list-item>
											</md-card-content>
										</md-card>

						</div>
					</div>

					{% endraw %}

		  {% raw %}



								<div class="medium-4 column">
									<div ng-if="device.model_name == 'Switch'">
                                        <md-card>
											<md-toolbar class="demo">
                                                 <div class="md-toolbar-tools">
						<md-button class="md-fab md-primary md-button" ng-click="updateDeviceState(device)" aria-label="menu">
										<div ng-if="device.desired_state.powered">
											<md-icon md-font-icon="icon fi fi-power" style="color: yellow;"/>
										</div>
										<div ng-if="!device.desired_state.powered">
											<md-icon md-font-icon="icon fi fi-power" style="color: whitesmoke;"/>
										</div>
										</md-button>
                                                     <h3><b>{{device.name}}</b></h3>
                                                     <span flex></span>
                                                 <md-switch class="md-primary" ng-click="updateDeviceState(device)" ng-model="device.desired_state.powered" aria-label="Switch 1">
                                           </md-switch>
                                                     </div>
							 </md-toolbar>
											 <md-card-content>
								 <md-list-item class="md-4-line">
                                     <div class="md-list-item-text">

                                     <p> <b>State:</b> {{device.desired_state.powered }}</p>
                                         </div>
                                     	  </md-list-item>
											</md-card-content>
										</md-card>

							</div>
                                    </div>


                                <div class="medium-4 column">
									<div ng-if="device.model_name == 'Refuel'" data-ng-init="getGrillStats(device)">
										<md-card>
                            <md-toolbar class="demo">
                                   <div class="md-toolbar-tools">
						<md-button class="md-fab md-primary md-button" ng-click="updateGroupState(group)" aria-label="menu">
											<md-icon md-font-icon="icon fi fi-info" style="color: whitesmoke;"/>
										</md-button>

                                <h3><b>{{ device.name }}</b></h3>

</div>
							 </md-toolbar>
                                            <md-card-content>
								 <md-list-item class="md-4-line">
                                     <div class="md-list-item-text">
 <md-progress-linear class="md-primary" md-mode="md-warn" value="{{device.last_reading.remaining*100}}" md-buffer-value="100"></md-progress-linear>
                                     <p>
                                        {{ device.last_reading.remaining * 100}}% of the fuel is remaining.
                                        <br> Average Grill Time - {{ grill_stats.average_grill_time }}
										<br>	Average Grills Per Tank - {{ grill_stats.average_grills_per_tank }}
										<br>	Average Tank Life(cum.) -  {{ grill_stats.average_tank_life_cumulative }}
										<br>	Average Tank Life(real) - {{ grill_stats.average_tank_life_real }}
										<br>	Cumulative Tanks Used - {{ grill_stats.cumulative_tanks_used }}
                        </p>
                                         </div>

                                     	  </md-list-item>
											</md-card-content>
										</md-card>
                                </div>

                            </div>
                                </div>


					</div>
		</section>
		<hr>
</body>
