<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/foundation.css' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation-icons/foundation-icons.css' ) }}">
     <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css' ) }}">
</head>
    {% block layout %}{% endblock %}
</html>