{% extends "base.html" %}
{% block layout %}
<body>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">


      <section class="middle tab-bar-section">
        <h1 class="title">Control Center</h1>
      </section>


    </nav>



    <section class="main-section">
      <!-- content goes here -->
    </section>

  <a class="exit-off-canvas"></a>
  <article>

        {% block body %}{% endblock %}
    </article>
    <footer></footer>
  </div>
</div>


</body>




{% endblock %}